body {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Bahnschrift, sans-serif;
}

header {
    font-size: 2rem;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    background-color: darkcyan;
}

nav > a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 0.75rem 1rem;

    &:hover {
        background-color: darken(darkcyan, 8);
    }
}